*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

main{
  padding: 60px 270px;
  text-align: center;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 420px;
}

.debug{
  border: 1px solid black;
}

header{
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #FF6900;
  text-align: center;
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .container .header-logo img{
  vertical-align: middle;
  height: 32px;
  display: flex;
}

header .menu ul{
  list-style: none;
  display: flex;
  padding-top: 5px;
}

header .menu ul li{
  margin: 0 17px;
}

header .container .menu ul li a{
  color: white;
  text-decoration: none;
}

.product-image{
  height: 650px;
  display: inline-block;
  position: relative;
}

.product{
  height: 700px;
  display: inline-block;
  position: relative;
}

.product-image .heart{
  color:black;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: center;
  padding: 10px 20px;
  font-size: 2rem;
}

.product-image .heart:hover{
  color:red;
}

.product-image .discount{
  position: absolute;
  padding: 6px;
  bottom: 40px;
  left: 0;
  font-size: 10px;
  background-color: #FF0000;
  color: white;
}

.product-image .eco{
  position: absolute;
  padding: 6px;
  bottom: 40px;
  left: 46px;
  font-size: 10px;
  background-color: #15821E;
  color: white;
}


