/* GENERAL */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

main{
  padding: 60px 70px;
  text-align: center;
}

.container{
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

img{
  max-width: 420px;
}

/* HEADER */

header{
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: #FF6900;
  text-align: center;
  box-shadow: 0 0 10px 2px #A6ADAE;;
}

header .container{
  display: flex;
  justify-content: space-between;
}

header .container .header-logo img{
  vertical-align: middle;
  height: 32px;
  display: flex;
}

header .menu ul{
  list-style: none;
  display: flex;
  padding-top: 5px;
}

header .menu ul li{
  margin: 0 10px;
}

header .container .menu ul li a{
  color: white;
  text-decoration: none;
}

header .container .menu ul li a:hover{
  text-decoration: underline;
}

header .container .icons{
  color: white;
  padding-top: 5px;
}

/* MAIN */

main .container{
  width: 100%;
}

.product{
  display: inline-block;
  position: relative;
  margin: 50px 20px;
}

.product-image .image-main{
  display: block;
}

.product-image .image-hover{
  display: none;
}

.product-image.pics{
  float: left;
}

.product-image.pics:hover .image-main{
display: none;
}

.product-image.pics:hover .image-hover{
  display: block;
  }

.product-image .heart{
  color:black;
  background-color: white;
  position: absolute;
  top: 10px;
  right: 0;
  text-align: center;
  padding: 10px 20px;
  font-size: 2rem;
}

.product-image .heart:hover{
  color:red;
}

.product-image .discount{
  position: absolute;
  padding: 6px;
  bottom: 100px;
  left: 0;
  width: 60px;
  font-size: 10px;
  background-color: #FF0000;
  color: white;
}

.product-image .eco{
  position: absolute;
  padding: 6px;
  bottom: 100px;
  left: 66px;
  width: 104px;
  font-size: 10px;
  background-color: #15821E;
  color: white;
}

.product .product-details{
  text-align: left;
  line-height: 20px;
}

.marchio{
  color:#ABBAC4;
  font-size: .8rem;
}

.descrizione{
  text-transform: uppercase;
  font-size: 1.2rem;
}

.prezzo{
  color: #FF0000;
}

.prezzo-intero{
  color: #868482;
  text-decoration: line-through;
}

/* FOOTER */

footer {
  background-color: #1A1A1A;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 16px;
  line-height: 24px;
}

footer .container{
  display: flex;
  justify-content: space-between;
}

.site-name{
  font-weight: bold;
}

footer .menu ul{
  list-style: none;
  display: flex;
  padding-top: 5px;
}

footer .menu ul li{
  margin: 0 10px;
}

footer .container .menu ul li a{
  color: white;
  text-decoration: none;
}

footer .container .menu ul li a:hover{
  text-decoration: underline;
}

footer .container .icons{
  color: white;
  text-align: right;
}